/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
   box-sizing: border-box;
   font-size: 62.5%;
}


*,
*:before,
*:after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}


html,
body {
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
}


body {
   font-size: 1.6rem;
   /* font-size 1.6rem is now the same as 16px */
   line-height: 1.6;
   /* padding-bottom: 100px; */
}

body,
canvas {
   cursor: none;
}


body.scroll-enabled {
   overflow-y: auto;
   overflow-x: hidden;
}



#canvas-container {
   width: 80%;
   max-width: 800px;
   aspect-ratio: 16/9;
   border: 1px solid #ccc;
   background: transparent;
   overflow: hidden;
   z-index: 0;
}


#p5-container {
   pointer-events: none;

}

#p5-container2 {
   pointer-events: none;

}

/* #p5-container2 canvas {
   pointer-events: none;
   
} */


/* .bottom {
   position: relative;
   background-color: white;
} */

/* .navbar {
   position: fixed;
   bottom: 2vh;
   right: 1vw;
   z-index: 1;
} */



.navbar {
   position: fixed;
   bottom: 2vh;
   right: 1vw;
   display: flex;
   z-index: 1;
}


.nav-list {

   display: flex;
   flex-direction: row;
   list-style-type: none;
   /* justify-content: space-around; */



}

.nav-box {
   background-color: white;
   color: black;
   border-color: black;
   border-style: solid;
   border-width: 1px;
   border-radius: 75%;
   margin: 1px;
   text-decoration: none;

}

.nav-box:hover {
   /* color: green; */
   background-color: orange;
   /* border-color: green; */
   border-width: 2px;
   cursor: none;
}


.nav-box-work {
   background-color: lightblue;
   color: black;
   border-color: black;
   border-style: solid;
   border-width: 1px;
   border-radius: 75%;
   margin: 1px;
   text-decoration: none;

}

.nav-box-work:hover {
   /* color: green; */
   background-color: orange;
   /* border-color: green; */
   border-width: 2px;
   cursor: none;
}

.nav-box-play {
   background-color: lightgreen;
   color: black;
   border-color: black;
   border-style: solid;
   border-width: 1px;
   border-radius: 75%;
   margin: 1px;
   text-decoration: none;

}

.nav-box-play:hover {
   /* color: green; */
   background-color: orange;
   /* border-color: green; */
   border-width: 2px;
   cursor: none;
}


.nav-list li {
   /* padding: 15px */
   margin: 10px;
   text-align: center;


}


.nav-list a {
   padding: 15px
      /* margin: 15px; */



}


.info-wrapper {
   position: relative;
   top: 20px;
   display: flex;
   justify-content: space-between;
   width: 100vw;
   align-items: start;
   z-index: 2;
   border-bottom: 1px solid black;
   background-color: white;
}

.info-wrapper .info-cornertainer {
   top: 0px;
}

.info-container,
.info-cornertainer {
   bottom: 0vh;
   display: flex;
   gap: 5px;
   max-height: 30vh;
   z-index: 1;
   align-items: end;
}

.info-cornertainer {
   max-width: 30vw;
   right: 0vw;
}

.info-container {
   flex-direction: row;
   max-width: 90vw;
   left: 0vw;
}

a {
   font-family: "futura-100", sans-serif;
   font-weight: 600;
   font-style: normal;
   cursor: none;
}

.title,
.description {
   color: black;
   max-width: 80vw;
   background-color: rgba(255, 255, 255, 20%);
   outline: 1px solid black;
   z-index: 1;
   padding: 1px 5px;
   box-sizing: border-box;
}

/* Text styling */


.title h1 {
   font-family: "futura-100", sans-serif;
   font-weight: 600;
   font-style: normal;
   font-size: 4rem;
   line-height: 5rem;
   padding: 5px 0px;
}

.title h3 {
   font-family: "futura-100", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 4rem;
   line-height: 4rem;

}




.title h2 {
   font-family: "futura-100", sans-serif;
   font-weight: 600;
   font-style: normal;

}

.description h2 {
   font-family: "futura-100", sans-serif;
   font-weight: 600;
   font-style: normal;
   font-size: 2rem;
   line-height: 3rem;
}


.title p {
   font-family: "source-serif-pro", serif;
   font-weight: 400;
   font-style: normal;
}

.description p {
   font-size: 1.3rem;
   font-family: "source-serif-pro", serif;
   font-weight: 400;
   font-style: normal;
}









.top-text {
   font-family: "futura-100", sans-serif;
   font-weight: 300;
   font-style: normal;
   font-size: 1.3rem;
   line-height: 2rem;
   display: flex;
   flex-direction: row;

}

.top-text p {
   text-decoration-line: underline;
   margin-right: 15px;
}

.top-text .nodec {
   text-decoration: none;
}



.content-wrapper {
   margin: 0 0;
   /* padding: 30px; */
   max-width: 80vw;
   /* overflow:visible; */
}

.test {
   position: relative;
}

.image-row {
   display: flex;
   align-items: center;

   /* height: 100vh; */
   /* height: 100vh;
   height: 100dvh; */
   height: 70vh;

   overflow-x: auto;

   /* z-index: 0; */
   scrollbar-width: none;
    border-bottom: 1px solid black;
}



.image-row img {
   height: 100%;
   width: auto;
   flex: 0 0 auto;
   display: block;
   max-width: none !important;

}

.image-row::-webkit-scrollbar {
   display: none;
}

body::-webkit-scrollbar {
   display: none;
}












.project-section {
   min-width: 100vw;
   min-height: 100vh;

}

.project-wrapper {

   position: relative;
   display: flex;
   flex-direction: row;
   top: 20vh;
   /* gap: 70px; */
   /* flex-direction: column; */
   /* justify-content: center; */
   align-items: center;
   /* height: 75vh; */


}

.project-list {
   color: black;
   max-width: 80vw;
   background-color: rgba(255, 255, 255, 20%);
   outline: 1px solid black;
   z-index: 1;
   padding: 5px;
   margin-right: 10px;
   box-sizing: border-box;

}


.project-list a {
   color: black;


}

.title .design-statement {
   font-family: "futura-100", sans-serif;
   font-weight: 300;
   font-style: normal;
   font-size: 1.7rem;
   line-height: 3rem;
   text-align: justify;


}

.project-list:hover {
   color: green;
   background-color: orange;
   border-color: green;
   border-width: 2px;
}

@media screen and (min-width: 451px) and (max-width: 1400px) {


   .title h2 {
      font-size: 2.25rem;
      line-height: 3rem;
   }


   .description h2 {
      font-size: 1.7rem;
      line-height: 1.75rem;
      padding: 5px;
   }
}



@media screen and (min-width: 451px) and (max-width: 950px) {
   .project-wrapper {
      top: 20vh;
   }

   .title h3 {
      font-size: 2rem;
      line-height: 2rem;
   }

   .title h2 {
      font-size: 1.5rem;
      line-height: 2rem;
   }


   .description h2 {
      font-size: 1.5rem;
      line-height: 1.50rem;
   }

   .info-container,
   .info-cornertainer {
      bottom: 0vh;
      display: flex;
      flex-direction: column;
      gap: 5px;
      max-height: 30vh;
      z-index: 1;
      align-items: start;
   }


}

@media screen and (max-width: 450px) {
   .project-wrapper {
      top: 20vh;
      padding-bottom: 150px;
   }

   .info-container,
   .info-cornertainer {
      bottom: 0vh;
      display: flex;
      flex-direction: column;
      gap: 5px;
      max-height: 30vh;
      z-index: 1;
      align-items: start;
   }

}